.my-accordion .menu {
	background-color: #d5d5d5;
	color: #444;
	cursor: pointer;
	padding: 12px;
	width: 50%;
	text-align: left;
	border: none;
	outline: none;
	margin-top: 4px;
	border-radius: 8px;
	font-size: inherit
}

.my-accordion .panel {
	background-color: #FFFFFF;
	color: #000000;
	overflow: hidden
}

.my-accordion .open {
	display: block
}

.my-accordion .close {
	display: none
}

.my-accordion .active {
	background-color: #1b90bb;
	color: #fff
}

.my-accordion .arrow {
	float: right;
	display: block
}

.my-accordion .darrow {
	display: none
}

.my-accordion .active .darrow {
	display: block
}

.my-accordion .active .rarrow {
	display: none
}

.my-accordion .panel a {
	display: block;
	background: #808080;
	color: #FFFFFF;
	padding: 5px;
	margin: 3px;
	width: 50%;
	text-decoration: none
}